@import "../../data/assets/style/index.scss";

.photoStoreContainer {
    .mainImage {
        height: 320px;
        background-image: url("../../data/assets/img/photo/namaste.png");
    }

    .imageSection {
        height: 150px;
        width: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}
