@import "../../../../data/assets/style/index.scss";

.testimonialHeading {
    font-family: $poiret;
    font-size: 35px !important;
    color: $primary;
}

.facilitators {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .testimonialHeading {
        font-size: 20px !important;
        padding: 0 20px;
    }
}
